
<div>
<h2>Let's add a Snippet!</h2>

<form action="/add" method="POST">
    Name: <input type="text" name="name" value="">
    Code: <textarea rows="10" cols="50"name="code" value=""></textarea>
    Tags: <input type="text" name="tags" value="">
    <inputtype="submit" name="" value="Add Snippet">
</form>
</div>