
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/css/main.css">

    </head>
    <body>

        <header>
            <img src="/img/js.png" id="jsLogo"><h1 id="header">Snippets.JS!</h1>
        </header>
        <nav>
            <a href="/" class="clickme">Home</a>
            <a href="/add" class="clickme">Add Snippet</a>
        </nav>


        {{{ body }}}
    </body>
</html>